.cartitems{
    h1{
        color: peru;
        /* text-decoration:underline; */
          text-align: center;
    }
    .container{
        table{
            margin: auto;
            height: 400px;
            width: 500px;
            thead{
                tr{
                    background-color: aqua;
                    height: 30px;
                    width: 100%;
                    font-family: sans-serif;
                    color: rgb(255, 0, 204);
                    
                }
            }
            tbody{
                
                    tr{
                       
                       
                        td{
                            text-align: center;
                            /* color: red; */
                            img{
                                height: 100px;
                                width: 100px;
                            }
                        }
                    }
                }
            
        }
    }
}