
 p{
        text-align: center;
        margin-top: 10px;
       }
       img{
        margin-top: 10px;
       }
.main{
    .head1{
       display: flex;
       justify-content: space-evenly;
       .h1{
       img{
        border-radius: 20px;
        margin-top: 10px;
        /* height: 100px; */
        width: 100px;
       }
       p{
        text-align: center;
       }
       }
       .h2{
       img{
         border-radius: 20px;
        height: 100px;
        width: 100px;
       }
       p{
        text-align: center;
       }
       }
        .h3{
       img{
         border-radius: 20px;
        height: 100px;
        width: 100px;
       }
       p{
        text-align: center;
       }
       }
        .h4{
       img{
         border-radius: 20px;
        height: 100px;
        width: 100px;
       }
       h1{
        text-align: center;
       }
       }
            
    }
    .head2{
        margin-top: 30px;
        img{
            width: 100%;
        }
    }
    .head3{
         display: flex;
        height: 100px;
        .head31{
            margin-top: 40px;
           display: flex;
            width: 70%;
            height: 260px;
            /* border: solid 1px black; */
            border-radius: 40px;
            box-shadow: 1px 1px 10px black;
            .c1{
                  /* border: solid 1px black; */
                margin-top: 60px;
                margin-left: 30px;
                height: 200px;
                /* width: 90%; */
              
             img{
                
                            height: 60%;
                            width: 90%;

             }
             p{
                text-align: center;
             }
             #a{
                text-align: center;
                    margin-top: 7px;
                font-weight: bold;
             }
              
            }
            .c2{
                  /* border: solid 1px black; */
                 margin-top: 60px;
                margin-left: 30px;
                 height: 200px;
                /* width: 90%; */
             
             
                   img{
                            height: 60%;
                            width: 90%;

             }
             p{
                text-align: center;
             }
               #a{
                margin-top: 7px;
                font-weight: bold;
             }
            }
            .c3{
                  /* border: solid 1px black; */
                 margin-top: 60px;
                margin-left: 30px;
                   height: 200px;
                 
                  img{
                            height: 60%;
                            width: 90%;

             }
             p{
                text-align: center;
             }
              #a{
                text-align: center;
                    margin-top: 7px;
                font-weight: bold;
             }

            }
            .c4{
                  /* border: solid 1px black; */
                 margin-top: 60px;
                margin-left: 30px;
                   height: 200px;
                 
                  img{
                            height: 60%;
                            width: 90%;

             }
             p{
                text-align: center;
             }
              #a{
                text-align: center;
                    margin-top: 7px;
                font-weight: bold;
             }

            }
            .c5{
                  /* border: solid 1px black; */
                 margin-top: 60px;
                margin-left: 30px;
                   height: 200px;
               
                  img{
                            height: 60%;
                            width: 90%;

             }
             p{
                text-align: center;
             }
                #a{
                text-align: center;
                    margin-top: 7px;
                font-weight: bold;
             }
            }
            .c6{
                /* border: solid 1px black; */
                
                 margin-top: 60px;
                margin-left: 30px;
                   height: 230px;
                   width: 200px;
                 
                  img{
                    margin-top: 10px;
                            height: 60%;

                              width: 90%;
                          

             }
             p{
                text-align: center;
             }
              #a{
                text-align: center;
                    margin-top: 7px;
                font-weight: bold;
             }

            }
        }
        .head32{
            height: 350px;
            width: 30%;
        img{
             width: 90%;       /* height: 50%; */
            height:100%;
        }
        }
    }
}