.landingpage{
    height: 100vh;
    width: 100%;
    .bgImage{
        height: 100%;
        width: 100%;
        background: url(../images/bg4.jpg) no-repeat center/cover;
        .container{
            height: 100%;
            width: 100%;
            background: linear-gradient(to right,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
            display: flex;
            .left , .right{
                width: 50%;
                height: 100%;
            }
            .left{
                h1{
                    color: black;
                    text-align: center;
                    margin: 1vh 0;
                    font-size: 4vw;
                }
                /* h1::first-letter{
                    color:darkcyan;
                } */
                .formbox{
                    border: solid 1px black;
                    border-radius: 20px;
                    margin:30px auto;
                    width: 60%;
                    h2{
                            color: black;
                            text-align: center;
                            margin: 2vh auto;
                        }
                    form{
                        /* border: solid 1px black; */
                        input,button{
                            display: block;
                            margin: 3vh auto;
                            font-size: large;
                            padding: 1vh 1vw;
                            border-radius: 10px;
                            border: none;
                            text-align: center;
                        }
                        input{
                            width: 80%;
                            outline: none;
                        }
                        button{
                            border-radius: 20px;
                            border: none;
                            width: 40%;
                            font-weight: bold;
                        }
                        
                    }
                }
            }
            .right{
                background: none;
                /* background: rgb(133, 176, 193); */
            }
        }
    }
}

@media screen and (max-width:500px) {
    .landingpage{
        .bgImage{
            .container{
                display: block;
                .left{
                    /* background: pink; */
                    width: 100%;
                    h1{
                        font-size: 7vw;
                        padding: 1vh 2vw;
                    }
                    .formbox{
                        width: 80%;
                        form{
                            input{
                                width: 90%;
                            }
                        }
                    }
                }
                .right{
                    display: none;
                }
            }
        }
        
    }
    
}

@media screen and (min-width:501px) and (max-width:1000px) {
    .landingpage{
        .bgImage{
            .container{
                display: block;
                .left{
                    /* background: white; */
                    width: 100%;
                    h1{
                        font-size: 7vw;
                        padding: 2vh 2vw;
                    }
                }
                .right{
                    display: none;
                }
            }
        }
    }
    
}