.product{
    .heading{
       h1{
         color: purple;
         margin-top: 10px;
        text-align: center;
       }
    }
    .container{
    margin-top: 30px;
    height: 600px;
    /* background-color: black; */
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto ;
}.res{
    margin-top: 20px;
    height: 340px;
    width: 380px;
    border: solid 1px black;
    box-shadow: 1px 1px 8px black;
    border-radius: 20px;
    
    /* .id{
         /* height: 120px; */
         /* width: 120px; */
         margin-left: 50px;
    } 
    .category{
        font-weight: bold;
        color: rgb(176, 197, 38);
        font-size: 30px;
        text-align: center;
        /* border: solid 1px black; */
       /* height: 120px; */
         /* width: 120px; */
    }
    .image{
        /* height: 120px; */
         width: 100px;
        img{
            margin-top: 10px;
           
            margin-left: 100px;
              height: 120px;
              width: 120px;
        }
    }
    .title{
        text-align: center;
        color: rgb(80, 168, 56);
        
        /* height: 120px; */
         /* width: 120px; */

    }
    .box{
          display: flex;
          justify-content: space-around;
          margin-top: 30px;
        /* height: 120px; */
         /* width: 120px; */
        .rating{
            color: rgb(99, 219, 8);
            /* border: solid 1px / */

            /* display: flex; */
         #a{
           
         }
        }
    }
    .price{
        /* height: 120px; */
         /* width: 120px; */
    }
    .btns{
        display: flex;
        justify-content: space-around;
        button{
            /* display: flex;
            justify-content: space-around; */
            margin-top: 20px;
            /* margin-left: 80px; */
            border: none;
            /* height: 25px; */

        }
    }
}
@media screen  and (max-width:500px){
    .product{
        .heading{
            h1{

            }
        }
        .container{
             display: block;

        }
        .res{
            height: 340px;
            width: 300px;
           
            .category{

            }
            .image{

            }
            .title{

            }
            .box{
                .rating{

                }
                .price{

                }
            }
            .btns{

            }
        }
    }
    
}

 @media screen  and (max-width:1000px){
    .product{
        .heading{
            h1{

            }
        }
        .container{
             display: block;
             margin-left: 20px;

        }
        .res{
            height: 400px;
            width: 650px;
           
            .category{

            }
            .image{
                img{
                    height: 200px;
                    width: 200px;
                    margin-left: 180px;
                }

            }
            .title{

            }
            .box{
                .rating{

                }
                .price{

                }
            }
            .btns{

            }
        }
    }
    
} 
