.viewcard{
    margin-top: 20px;
    .card{
        padding-top: 50px;
        display: flex;
        justify-content: space-evenly;
        /* height: 480px; */
        width: 80%;
        margin: auto;
        border: solid 1px white;
        box-shadow: 1px 1px 10px black;
        border-radius: 10px;
        .left{
            width: 50%;
            /* margin-top: 50px; */
            .image{
                img{
                    height: 300px;
                    width: 300px;
                    display: block;
                    margin: auto;
                }
            }
            .btn{
               .btn1{
                margin-top: 40px;
                button{
                    height: 50px;
                    width: 150px;
                    /* background-color: red; */
                    /* color: white; */
                    font-size: 20px;
                    font-weight: bolder;
                    border: solid 1px red;
                    border-radius: 10px;
                    box-shadow: 1px 1px 10px red;
                    display: block;
                    margin: auto;
                }
                button:hover{
                  background-color: red;
                    color: white;
                    font-size: 20px;
                    font-weight: bolder;
                    border: solid 1px red;
                    border-radius: 10px;
                }
               }
            }
        }
        .right{
            /* display: block; */
            /* margin: auto; */
            margin-top: 60px;
            width: 50%;
            .category{
               p{
                /* text-align: center; */
                font-style: italic;
                font-size: 25px;
                font-weight: bolder;
                /* text-decoration: underline; */
                color: rgb(0, 255, 4);
                text-shadow: 1px 1px 1px black
               };
            }
            .title{
                p{
                    font-size: 20px;
                    font-weight: bolder;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: rgb(43, 223, 226);
                    text-shadow:1px 1px 1px rgb(27, 21, 21) ;
                    margin-top: 20px;
                }
            }
            .price{
              p{
                font-size: 20px;
                font-weight: bolder;
                color: green;
                margin-top: 20px;
              }
            }
            .ratings{

            }
            .description{
                p{
                    font-size: 18px;
                    /* font-weight: bold; */
                    margin-top: 20px;
                    text-align: justify;
                    width: 400px;
                } 
                p::first-letter{
                    
                    color:rgb(233, 18, 28);
                }
            }
        }
    }
}
.viewcard{
    margin-top: 20px;
    .card{
        padding-top: 50px;
        display: flex;
        justify-content: space-evenly;
        /* height: 480px; */
        width: 80%;
        padding: 1vh 2vw;
        margin: auto;
        border: solid 1px white;
        box-shadow: 1px 1px 10px black;
        border-radius: 10px;
        .left{
            width: 50%;
            /* margin-top: 50px; */
            .image{
                img{
                    height: 300px;
                    width: 300px;
                    display: block;
                    margin: auto;
                }
            }
            .btn{
               .btn1{
                margin-top: 40px;
                button{
                    height: 50px;
                    width: 150px;
                    /* background-color: red; */
                    /* color: white; */
                    font-size: 20px;
                    font-weight: bolder;
                    border: solid 1px red;
                    border-radius: 10px;
                    box-shadow: 1px 1px 10px red;
                    display: block;
                    margin: auto;
                }
                button:hover{
                  background-color: red;
                    color: white;
                    font-size: 20px;
                    font-weight: bolder;
                    border: solid 1px red;
                    border-radius: 10px;
                }
               }
            }
        }
        .right{
            /* display: block; */
            /* margin: auto; */
            /* margin-top: 60px; */
            width: 50%;
            .category{
               p{
                /* text-align: center; */
                font-style: italic;
                font-size: 25px;
                font-weight: bolder;
                text-decoration: underline;
                color: gold;
                text-shadow: 1px 1px 1px black
               };
            }
            .title{
                p{
                    font-size: 20px;
                    font-weight: bolder;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: rgb(43, 205, 226);
                    text-shadow:1px 1px 1px rgb(27, 21, 21) ;
                    margin-top: 20px;
                }
            }
            .price{
              p{
                font-size: 20px;
                font-weight: bolder;
                color: green;
                margin-top: 20px;
              }
            }
            .ratings{

            }
            .description{
                p{
                    font-size: 18px;
                    /* font-weight: bold; */
                    margin-top: 20px;
                    text-align: justify;
                    width: 400px;
                } 
                p::first-letter{
                    
                    color:rgb(233, 18, 28);
                }
            }
            .btn4{
                button{
                     height: 50px;
                    width: 50px;
                    /* background-color: red; */
                    /* color: white; */
                    font-size: 20px;
                    font-weight: bolder;
                    border: solid 1px red;
                    border-radius: 10px;
                    box-shadow: 1px 1px 10px rgb(21, 20, 20);
                    display: block;
                    /* margin: auto; */
                    margin-left: 70%;
                    margin-top: 60px;

                }
                button:hover{
                    cursor: pointer;
                    color: red;

                }
                button:active{
                    transform: scale(0.9);
                }
            }
        }
    }
}
@media screen and (max-width:500px){
    .viewcard{
         margin-top: 20px;
        .card{
            display: block;
            justify-content: space-evenly;
            .left{
                width: 100%;
                .image{
                    /* display: block; */
                       
                    img{
                       height: 200px;
                       width: 200px;
                       /* margin: auto; */
                       /* align-items: center; */
                       margin-left: 35px;
                    }
                }
                .btn{
                    .btn1{
                        /* margin-left: 60px; */
                        margin: auto;
                        margin-top: 20px;
                    }
                }
            }
            .right{
                width: 100%;
                .category{
                    p{
                        font-style: italic;
                font-size: 15px;
                font-weight: bolder;
                text-decoration: underline;
                color: gold;
                text-shadow: 1px 1px 1px black  ;
                margin-top: 20px; 
                /* margin-left: 80px; */
                text-align: center;
                width: 100%;
                    }
                }
                .title{
                    width: 100%;
                    p{
                       font-size: 15px;
                font-weight: bolder;
                /* text-decoration: underline;
                color: gold; */
                /* text-shadow: 1px 1px 1px black  ; */
                margin-top: 20px; 
                /* margin-left: 50px; */
                text-align: center;
                width: 100%;
                    }
                }
                .price{
                    p{
                        text-align: center;
                    }
                }
                .description{
                    p{
                      text-align: center;
                      width: 100%;
                    }
                }
                .btn4{
                    button{
                       margin: auto;
                       margin-top: 20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1000px){
    .viewcard{
         margin-top: 20px;
        .card{
            display: block;
            justify-content: space-evenly;
            .left{
                width: 100%;
                .image{
                    /* display: block; */
                       
                    img{
                       height: 200px;
                       width: 200px;
                       /* margin: auto; */
                       /* align-items: center; */
                       margin-left: 190px;
                    }
                }
                .btn{
                    .btn1{
                        /* margin-left: 60px; */
                        margin: auto;
                        margin-top: 20px;
                    }
                }
            }
            .right{
                width: 100%;
                .category{
                    p{
                        font-style: italic;
                font-size: 15px;
                font-weight: bolder;
                text-decoration: underline;
                color: gold;
                text-shadow: 1px 1px 1px black  ;
                margin-top: 20px; 
                /* margin-left: 80px; */
                text-align: center;
                width: 100%;
                    }
                }
                .title{
                    width: 100%;
                    p{
                       font-size: 15px;
                font-weight: bolder;
                /* text-decoration: underline;
                color: gold; */
                /* text-shadow: 1px 1px 1px black  ; */
                margin-top: 20px; 
                /* margin-left: 50px; */
                text-align: center;
                width: 100%;
                    }
                }
                .price{
                    p{
                        text-align: center;
                    }
                }
                .description{
                    p{
                      text-align: center;
                      width: 100%;
                    }
                }
                .btn4{
                    button{
                       margin: auto;
                       margin-top: 20px;
                    }
                }
            }
        }
    }
}